<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b10b13fe-f8e8-4aa1-a5b4-043cafa57da7/resourceGroups/Demo0825/providers/Microsoft.ContainerRegistry/registries/demo0825</ResourceId>
    <ResourceName>demo0825</ResourceName>
    <ResourceGroup>Demo0825</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://demo0825.azurecr.io/</RegistryUrl>
    <UserName>demo0825</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0685d488-634a-47af-9cc0-ec3f4e89c002</ProjectGuid>
  </PropertyGroup>
</Project>